{% from "_nav_bar.html" import nav %}

{% extends "base.html" %} {% block title %}Observation Tools{% endblock %}
{% block content %}
  {{ nav() }}
  <main class="p-8">
  <h1 class="text-2xl font-bold my-4">observation tools</h1>

  <p class="mb-4">
    a developer data inspection toolkit for exporting, visualizing, and inspecting data from
    anywhere in a program.
  </p>

  <h2 class="text-xl font-bold my-4">how it works</h2>

  <p class="mb-4">
    1. instrument: add observations to your code<br />
    2. collect: server stores all observations<br />
    3. inspect: view and search observations here
  </p>

  <hr class="border-t border-black dark:border-neutral-200 my-4" />

  <h2 class="text-xl font-bold my-4">getting started</h2>

  <p class="mb-4">
    1. install client library<br />
    2. start server:
    <code class="bg-neutral-100 dark:bg-neutral-800 text-black dark:text-neutral-200 px-1 py-0.5"
      >cargo observation-tools serve</code
    ><br />
    3. instrument your code<br />
    4. view results here
  </p>
  </main>
{% endblock %}
