{% extends "base.html" %} {% block title %}Observation Tools{% endblock %} {% block content %}
<h1>observation tools</h1>

<p>
  a developer data inspection toolkit for exporting, visualizing, and inspecting data from anywhere
  in a program.
</p>

<h2>how it works</h2>

<p>
  1. instrument: add observations to your code<br />
  2. collect: server stores all observations<br />
  3. inspect: view and search observations here
</p>

<hr />

<h2>getting started</h2>

<p>
  1. install client library<br />
  2. start server: <code>cargo observation-tools serve</code><br />
  3. instrument your code<br />
  4. view results here
</p>
{% endblock %}
