@import "tailwindcss";
@import "./github-markdown.css";
@import "./json-viewer.css";

@plugin "daisyui";

@source "../../observation-tools-server/templates/**/*.html";

@theme {
  --font-mono: monospace;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply font-mono text-sm leading-normal;
  }
}

.markdown-body {
  --fgColor-default: inherit;
  --bgColor-default: transparent;
}

.markdown-body ul,
.markdown-body ol {
  list-style-type: revert;
}
