@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply font-mono text-sm leading-normal bg-white text-black overflow-x-hidden;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-neutral-900 text-neutral-200;
    }
  }
}
