on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

name: Build
jobs:
  setup:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v3
      - name: Install rust
        run: rustup install stable
      - name: Build rust
        run: cargo build
