on:
  push:
    tags:
      - '*'
  workflow_dispatch:

name: Publish
jobs:
  publish-crate:
    name: Publish observation-tools crate
    runs-on: ubuntu-latest
    environment: crates.io
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install rust
        run: rustup install stable
      - name: Publish
        run: cargo publish -p observation-tools
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  publish-npm:
    name: Publish @observation-tools/client npm package
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
      - name: Install rust
        run: rustup install stable
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Build
        run: src/client/wasm_pack.sh
      - name: Publish
        run: npm publish src/client/pkg --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
 
