on:
  push:
    tags:
      - "*"
  workflow_dispatch:

name: Publish
jobs:
  publish-crate:
    name: Publish observation-tools crate
    runs-on: ubuntu-latest
    environment: crates.io
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install rust
        run: rustup install stable
      - name: Publish
        run: cargo publish -p observation-tools
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
